{% extends "base.html" %}
{% block form %}
<div style=" margin: auto;
    width: 70%;
    border: 1px solid rgb(17, 18, 19);
    padding: 15px;">
      <div class="form-row">
        <div class="form-group col-md-12">
        <div class="container" style=" margin: auto;
        width: 70%;
        border: 1.5px solid rgb(121, 122, 124);
        padding: 10px;
        border-radius: 2%;">
        <h4 style="text-align: center;
        background-color: rgb(67, 69, 70);
        color: white;
        font-weight: bold;" >Personal Details</h4>
      <div id="cus">   
        <ul style="list-style-type: none;
        padding: 0;
        margin: 0;">
    
          <li>Full Name :</li>
          <li>Guardia Name :</li>
          <li>Gender :</li>
          <li>Mobile : no</li>
          <li>Email :</li>
          <li>Pan No :</li>
          <li>Aadhar No :</li>
          <li>Marital Status :</li>
          <li>Religion :</li>
          <li>DOB :</li>
        </ul>
      </div>  
        </div>
        </div>
        </div>
        <br>
        <div class="form-row">
           
            <div class="form-group col-md-12">
            <div class="container" style=" margin: auto;
            width: 60%;
            border: 1.5px solid rgb(198, 142, 231);
            padding: 10px;
            border-radius: 2%;">
            <h3 style="text-align: center;
            background-color: rgb(179, 45, 241);
            color: white;
            font-weight: bold;">Address Details</h3>
        <div id="cus">   
            <ul style="list-style-type: none;
            padding: 0;
            margin: 0;">
              <li>Flat No :</li>
              <li>Street Name :</li>
              <li>City :</li>
              <li>Pincode :</li>
              <li>Area :</li>
              <li>Landmark :</li>
              <li>District :</li>
              <li>State :</li>
              <li>Country :</li>
            </ul>
        </div> 
            </div>
            </div>
            </div>
<div class="form-row">
<div class="form-group col-md-12">
<div class="container" style=" margin: auto;
width: 60%;
border: 1.5px solid rgb(198, 142, 231);
padding: 10px;
border-radius: 2%;">
<h3 style="text-align: center;
background-color: rgb(179, 45, 241);
color: white;
font-weight: bold;">Customer Bank Details</h3>
<div id="cus"> 
<ul style="list-style-type: none;
padding: 0;
margin: 0;">
  <li>Account Holder Name :</li>
  <li>Account No :</li>
  <li>Bank Name :</li>
  <li>Branch Name :</li>
  <li>Account Type :</li>
  <li>IFSC Code :</li>
  <li>MICR Code :</li>
</ul>
</div>
</div>
</div>
</div>
<br>
<div class="form-row">
    <div class="form-group col-md-12">
    <div class="container" style=" margin: auto;
    width: 60%;
    border: 1.5px solid rgb(198, 142, 231);
    padding: 10px;
    border-radius: 2%;">
    <h3 style="text-align: center;
    background-color: rgb(179, 45, 241);
    color: white;
    font-weight: bold;">Previous Loan Details</h2>
     <div id="cus"> 
    <ul style="list-style-type: none;
    padding: 0;
    margin: 0;">
      <li>Bank Name :</li>
      <li>Branch Name :</li>
      <li>Account No :</li>
      <li>IFSC Code :</li>
      <li>MICR Code :</li>
      <li>Loan Amount :</li>
      <li>Loan Type :</li>
      <li>Loan Tenure :</li>
      <li>Amount Paid :</li>
      <li>Amount Remaining :</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-12">
      <div class="container" style=" margin: auto;
      width: 60%;
      border: 1.5px solid rgb(198, 142, 231);
      padding: 10px;
      border-radius: 2%;">
      <h3 style="text-align: center;
      background-color: rgb(179, 45, 241);
      color: white;
      font-weight: bold;">Professional Details</h3>
       <div id="cus"> 
      <ul style="list-style-type: none;
      padding: 0;
      margin: 0;">
        <li>Current Employer :</li>
        <li>Designation :</li>
        <li>Occupation :</li>
        <li>Year Of Experiance :</li>
        <li>Joining Date :</li>
        <li>Monthly Income :</li>
        <li>Company Address :</li>
        <li>Mode Of Salary :</li>
        <li>IT Returns :</li>
        <li>Avg Monthly Income :</li>
        <li>Annual Turnover :</li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      <br>
    
            <div class="form-row">
              <div class="form-group col-md-12">
              <div class="container" style=" margin: auto;
              width: 60%;
              border: 1.5px solid rgb(198, 142, 231);
              padding: 10px;
              border-radius: 2%;">
              <h3 style="text-align: center;
              background-color: rgb(179, 45, 241);
              color: white;
              font-weight: bold;">Documents Upload</h2>
        <div class="row text-center">
        <div class="col-md-4">
    <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Photo</h6></a>
        </div>
        <div class="col-md-4">
    <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Signature</h6></a>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
    <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Bank Statment</h6></a>
        </div>
        <div class="col-md-4">
    <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Pan Card</h6></a>
        </div>
      </div>
      <div class="row text-center">
      <div class="col-md-4">
        <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Adhar Card</h6></a>
            </div>
            <div class="col-md-4">
        <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Sallary Slip</h6></a>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
        <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Form16</h6></a>
            </div>
            <div class="col-md-4">
        <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Balance Sheet</h6></a>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
        <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">ITR</h6></a>
            </div>
            <div class="col-md-4">
        <a href="#" class="navbar-brand"><img src='' alt="#"/><h6 style="color:black">Business Proof</h6></a>
            </div>
          </div>
              </div>
              </div>
        </div>
        <br>

        <div class="form-row">
          <div class="form-group col-md-12">
          <div class="container"style=" margin: auto;
          width: 60%;
          border: 1.5px solid rgb(198, 142, 231);
          padding: 10px;
          border-radius: 2%;">
          <h3 style="text-align: center;
          background-color: rgb(179, 45, 241);
          color: white;
          font-weight: bold;">Loan Sanctioned</h3>
           <div id="cus"> 
          <ul style="list-style-type: none;
          padding: 0;
          margin: 0;">
            <li>Required Loan :</li>
            <li>Approved Loan :</li>
            <li>Tenure :</li>
            <li>Interest :</li>
            <li>EMI :</li>
            <li>Is Approved :</li>
          </ul>
          </div>
          </div>
          </div>
          </div>
          <div>
        </div>
{% endblock form %}