{% extends "base.html" %}
{% load crispy_forms_tags %}
    {% block form %}
      <form method="post" class="jumbotron">
        <br><br>
        <h3 style="text-align:center" class="mt-2">Personal Details</h3>
        {% csrf_token %}
        
        <div class="row">
          <div class="col-6">
            {{ form.full_name|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.guardian_name|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.gender|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.mobile|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.pan_no|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.aadhar_card|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.marital_status|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.religion|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.dob|as_crispy_field }}
          </div>
    <!-- {{form|crispy}} -->
      <input type="submit" value="add Customer Detail" class="btn btn-primary" style="width: 25%;">
      </form>
    </div>
    <div class="container-fluid">
<!--content-->
     </div>
     {% endblock form %}