{% extends 'navbar_loan.html' %}
{% block nav_items %}
{% load static %}
<div class="container">
  <br>
  <br>
  <h3 style="text-align: center; color: black">
    Personal Loan Eligibility
  </h3>

  <p>
    Availing of a personal loan is easy. However, you need to meet the personal
    loan eligibility criteria specified by the lender to get the loan
    sanctioned.<br /><br />
    Bank offers personal loans with simple eligibility parameters. Employed
    individuals aged between 21 and 60 years can avail of personal loans for
    their financial needs.<br /><br />
    Bank offers personal loans ranging from Rs. 50,000 to Rs. 25 lakhs for
    various personal and commercial purposes. So, check your eligibility and
    avail Kotak Mahindra Bank’s quick personal loans.
  </p>
  <h3 style="text-align: center; color: black">
    Personal Loan Eligibility Calculator
  </h3>
  <br />
  <p>
    The amount of loan that you can avail of depends on your eligibility, i.e.,
    your occupation, age, and income, among others. You can check the eligible
    loan amount using Kotak Mahindra Bank’s personal loan eligibility
    calculator.<br /><br />

    Just enter some simple details and check your loan eligibility within
    minutes with Kotak Mahindra Bank’s personal loan eligibility calculator.
  </p>

  <h3 style="text-align: center; color: black">
    Personal Loan Eligibility Criteria
  </h3>
  <br />
  <p>
    The personal loan eligibility criteria vary across salaried and
    self-employed borrowers. Here’s a quick look at Kotak Mahindra Bank’s
    personal loan eligibility for a salaried person -
  </p>
  <table class="table table-striped" style="border: 1px">
    <tr>
      <td>Nature of employment</td>
      <td>
        Employed with an MNC, public limited company, or private limited company
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>21 years to 60 years</td>
    </tr>
    <tr>
      <td>Minimum monthly income</td>
      <td>
        Corp Salary borrowers: Rs. 25,000<br />

        Non-Corp Salary borrowers: Rs. 30,000<br />

        An employee of Kotak Mahindra Bank: Rs. 20,000
      </td>
    </tr>
    <tr>
      <td>Minimum educational qualification</td>
      <td>Graduation</td>
    </tr>
    <tr>
      <td>Work experience</td>
      <td>At least one year</td>
    </tr>
  </table>

  <h3 style="text-align: center; color: black">
    Factors Affecting Personal Loan Eligibility
  </h3>
  <br />
  <p>
    Many factors might affect the
    <b>personal loan eligibility criteria</b>
    of borrowers. These factors are as follows:
  </p>

  <ul>
    <li>
      <b>Age:</b>
      Your age determines the amount of loan that you can avail of. If you are
      younger, you have a longer working life ahead of you. This factor makes
      you eligible for a higher amount of
      <b>personal loan</b>
    </li>
    <li>
      <b>Income:</b> Your monthly net income is directly proportional to your
      eligibility. The higher the income, the higher would be the loan amount
      that you can receive.
    </li>
    <li>
      <b>Location:</b>
      People living in metropolitan cities can get a higher loan amount because
      of their increased expenses.
    </li>
    <li>
      <b>Type of occupation:</b>
      Salaried individuals make better borrowers as they have a regular source
      of income. In the case of self-employed borrowers, the income depends on
      the business performance and varies.<br />

      As such, salaried employees have easier eligibility requirements than
      self-employed borrowers. Moreover, the
      <b>documents required for personal loans</b>
      are also less for salaried employees.
    </li>
    <li>
      <b>The reputation of the employer:</b>
      For salaried borrowers, the reputation of their employer also impacts
      their
      <b>personal loan eligibility</b>
      . If you are working with a reputed company, your job is perceived to be
      stable, making you eligible for a higher loan amount.
    </li>
    <li>
      <b>Existing debts:</b>
      Existing loans reduce your repayment capacity. As such, they reduce the
      loan amount that you can avail.
    </li>
    <li>
      <b>Credit score:</b>
      Lastly, a good credit score, i.e., 700 and above, is needed to avail a
      personal loan. The credit score shows your creditworthiness. The higher
      the score, the more eligible you become to avail the loan.
    </li>
  </ul>
</div>

{% endblock nav_items %}
