{% extends 'navbar_loan.html' %}
{% block nav_items %}
{% load static %}
<div class="container">
    <br><br> 
    <h2 style="text-align: center; color:black">I need a personal loan for</h2> <br> 
    <div class="card-group">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'assets/img/feature/getting-married-for-whitebg.svg' %}" width="55" height="55" alt="getting-married-for-whitebg">
            <h3>Wedding in the family</h3>
            <p>Our marriage loans take the stress off so you can enjoy family marriages </p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'assets/img/feature/holidays-for-whitebg.svg' %}" width="55" height="55" alt="holidays-for-whitebg">
            <h3>Dream Vacation</h3>
            <p>Fund your dream holiday to exotic places with our quick and easy personal loans for travel</p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'assets/img/feature/protect-myself.svg' %}" width="55" height="55" alt="protect-myself">
            <h3>Medical Expenses</h3>
            <p>Manage unforeseen medical emergencies of loved ones with our instant personal loans</p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'assets/img/feature/Home-renovation.svg' %}" width="55" height="55" alt="Home-renovation">
            <h3>Home Renovation</h3>
            <p>Repair, refurnish and upgrade your home to a dream home, with our personal loans</p>
          </div>
        </div>
    </div>    
        <br>
      <h2 style="text-align: center;color:black">Manage your immediate financial needs with our personal loans</h2>
      <p style="text-align: center;">From planning a big event to facing an unexpected expense, we have a solution to your planned/ unplanned expenditures with our personal loans. <br>Simply apply for a personal loan online from the comfort of your home or office and get quick loan disbursal with a seamless experience.</p>
        </hr>
    <div class="card-group">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'assets/img/feature/instant-personal-loan.svg' %}" width="55" height="55" alt="Loan Disbursal Amount">
          <h3>Loan Disbursal Amount</h3>
          <p>Avail a loan amount from Rs.50,000 up to Rs.25 Lakhs with flexible tenures ranging from 1 to 5 years </p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src="{% static 'assets/img/feature/advisor.svg' %}" width="55" height="55" alt="Efficient customer service">
          <h3>Efficient customer service</h3>
          <p>To ensure a hassle free experience with minimal personal loan documentation and quick turnaround time </p>
          </div>
        </div>
        <div class="card bg-light">
            <div class="card-body text-center">
                <img src="{% static 'assets/img/feature/functionality-offers.svg' %}" width="55" height="55" alt="Attractive Interest Rates">
                <h3>Attractive Interest Rates</h3>
                <p>Making our personal loans more affordable and convenient than ever. ROI as starting from 10.25% p.a. onwards  </p>
                
            </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
                <img src="{% static 'assets/img/feature/3-clock.svg' %}" width="55" height="55" alt="Personal Loan in 3 seconds*">
                <h3>Personal Loan in 3 seconds*</h3>
                <p>Get your funds disbursed in your account with a few clicks for all your personal needs </p>
                
            </div>
          </div>  

          
      </div>
</div>
{% endblock nav_items %}
    

     

      
      

    
