{% extends 'navbar_loan.html' %}
{% block nav_items %}
{% load static %}


<div class="container">
    <br><br>
    <h3 style="text-align:center; color: black;">Fees and Charges</h3>
    <hr>
<h4 style="color: black;">List of The Charges Implied </h4>
<p >Knowing the fees and charges not only gives you further details pertaining to your loan, but also helps you plan your finances better. Are you confused about the fees and charges associated with personal loans? Run through the complete list of related costs mentioned below and understand the charges implied on personal loans at Bank.

</p><br>

<table class="table table-striped">
  <tr>
    <th>Loan</th>
    <th>Personal Loan</th>

  </tr>
  <tr>
    <td>Fixed Interest Rate</td>
    <td>Starting from 10.25 p.a.</td>

  </tr>
  <tr>
    <td>Loan Processing Charges</td>
    <td>Upto 2.5% of the loan amount+GST and other apllicable statutory levies</td>

  </tr>
  <tr>
    <td>Stamping Charges</td>
    <td>Applicable as per the respective State's Stamp Act</td>

  </tr><tr>
    <td>Credit Administration Charges</td>
    <td>Upto 5% of the loan amount,not exceeding Rs. 7500(inclusive of GST)</td>

  </tr><tr>
    <td>Credit Appraisal Charges</td>
    <td>Upto 5% of the Loan amount, not exceeding Rs. 7500 (inclusive of GST )</td>

  </tr><tr>
    <td>Overdue Interest</td>
    <td>3% p.m compounded monthly on the Amount due but unpaid from the Date of the Amount falling Due till the Date of actual payment</td>

  </tr><tr>
    <td>Collection Charges</td>
    <td>30% (inclusive of GST and other applicable statutory levies)of cheque / instrument dishonour charges+ overdue interest</td>

  </tr><tr>
    <td>Dishonour Charges Per Instance</td>
    <td>Rs. 750 per instance (inclusive of GST and other applicable statutory levies)</td>

  </tr><tr>
    <td>Swap Charges (Change in mode of repayment/Instrument/EMI Date swap)</td>
    <td>Rs.500 per Swap per Instance+ GST and other applicable statutory levies</td>

  </tr>
<tr>
    <td>Foreclosure Charges</td>
    <td>Effective 1st Aug 2021, below foreclosure charges will be applicable to all personal loan customers:<br>
- 0 to 12 Months : Lock-in Period<br>
- 1 to 3 years : 4% + GST on principal outstanding<br>
- 3 years onwards: 2% + GST on principal outstanding</td>

  </tr>
<tr>
    <td>Part pre-payment charges</td>
    <td>- For Loans disbursed on or before 1st Feb’20 : Part payment facility not available<br>
- For Loans disbursed after 1st Feb’20:<br>
* Allowed up to 20% every year, after completion of 12 months lock-in period.<br>
* INR 500 + GST per instance of part-prepayment</td>

  </tr>
<tr>
    <td>Duplicate Issue of NOC</td>
    <td>Nil</td>

  </tr>
<tr>
    <td>No Due Certificate</td>
    <td>Nil</td>

  </tr>
<tr>
    <td>Charges for furnishing a copy of the credit information report (CIBIL) to the applicant.</td>
    <td>Rs. 50 + GST and other applicable statutory levies per instance</td>

  </tr>
<tr>
    <td>Charges applicable in case customer requests for copies of records pertaining to his transactions ( SOA / Amortization Schedule)</td>
    <td>Once yearly without any charge. Post that Rs.200 per request+ GST and other applicable statutory levies</td>

  </tr>
  <tr>
    <td colspan="2">* Taxes as applicable</td>
  </tr>


  </table><br><br>


    <h3 style="text-align: center;color: black;">Personal Loan Overdraft</h3><br>
    <table class="table table-striped"  >
      <tr>
        
        <th colspan="2">Charges specific to Personal Loan Overdraft facility</th>


      </tr>
      <tr>
          <td>Interest rate</td>
          <td>starting 11.5% onwards</td>
      </tr>
      <tr>
          <td>PF</td>
          <td>Upto 3% </td>
      </tr>
      <tr>
          <td>Overdue interest</td>
          <td> 18% PA compounded Annually</td>
      </tr>
      <tr>
          <td>FC charges </td>
          <td>Nil</td>
      </tr>
      <tr>

          <td> non-utilization* </td>
          <td>To be computed at 0.5% of the Average Operating Limit if utilisation is below 10%  </td>
      </tr>
      <tr>
          <td>Renewal charges</td>
          <td>1% of the renewal limit or Rs. 5000 whichever is higher</td>
      </tr>
      <tr>
        <td> Swap charges</td>
        <td>  Rs 500 per swap</td>


    </tr>

    <tr>
        <td> Charges for SOA </td>
        <td> Physical: Rs 200 + GST per instance; Digital Free </td>

 
  </table><br><br>
  <h4 style="color: black;">Documents Required For Personal Loan</h4>
      <p>The documents required to avail a personal loan from Bank are dependent on many different factors that detail crucial information like identity proof, proof of residence, bank details and business details. As we believe in minimal paperwork, the documentation processes while providing personal loans are smooth and easy.

        Find out the detailed list of personal loan documents that are required to avail personal loan.</p>
    <br><br>

    <h4 style="color: black;">Know Your EMIs and Available Repayment Options</h4>
    <p>You can avail attractive interest rate and enjoy different repayment options on  Bank personal loan. However, it is only a smarter move to put our EMI Calculator at use, and get a clearer understanding of your EMI figures before taking a personal loan. Calculate your EMI accurately with the help of Bank Personal loan EMI Calculator. Select the loan requirement, get a pre-determined interest rate, and select the loan repayment tenure, between 12 to 60 months and view results in seconds!</p>
    <br><br>
    <h4 style="color: black;">Why avail a Personal Loan from Bank?</h4>
    <div>Are you looking for a quick personal loan alongside a seamless banking experience? Let us give you 7 good reasons to opt for a personal loan from Bank without any second thoughts!
<p>
        <ul style="list-style-type: square">
    <li>Browse and apply for personal loan online</li>
    <li>Browse and apply for personal loan online</li>
    <li>Check personal loan eligibility online</li>
    <li>Quick and minimal paperwork</li>
    <li>Fast approval and speedy disbursal of loan. Disbursal TAT as “within 3 secn un” or “ider 3 secs”. </li>
    <li> Avail personal loan from Rs.50000 up to Rs.25 Lakh</li>
    <li>Attractive interest rate and easy loan repayment options </li>
    <li>The ability to obtain personal loan instantly in commercial cities of India </li>
</ul>
        </p>
        <br>
        <p>Know more details about availing a<b> personal loan</b> from  Bank. </p>
</div>
</div>
</div>
{% endblock %}

