
{% extends 'navbar_loan.html' %}
{% block nav_items %}
{% load static %}
    <div class="container"><br><br>
    <h3 style="color: black; text-align: center; ">Required Documents</h3><hr>
    <p>We, at  The Bank, make your banking experience as smooth as possible. So, we mandate minimum paperwork and documentation processes while providing personal loans to all our customers. Basic documentation like identity proof, residence proof, bank details, Income / business details are required to avail a personal loan at Kotak Mahindra Bank. You need to  submit the required personal loan documents to avail a quick personal loan. That’s all!</p>
    <h4 style="color: black; ">Documents Required For Personal Loan</h4>
    <p>There is no such difference in the required personal loan documents for the ETB (Existing to Bank) and the NTB (New to Bank) customers. The following enlists the personal loan documents required to be submitted by personal loan applicants.</p>

    <div >
        <table  class="table table-striped" style="width: 80%;margin:auto">
            <tr class="bg-light" >
                <th>Salaried Applicant</th>
            </tr>
            <tr  >
                <td>Proof of Identity like Passport/ PAN Card, Aadhar card, Voter's ID, Driving License</td>
            </tr>
            <tr  >
                <td>Proof of Residence like Utility Bill, Passport or Leave and License Agreement</td>
            </tr>
            <tr  >
                <td>Bank Statement for the last 3 months with income details</td>
            </tr>
            <tr  >
                <td>Salary slip for the last 3 months</td>
            </tr>
            <tr >
                <td>2-3 Passport Size photographs</td>
            </tr>
        </table>
    </div>
        <br>

    <h4 style="color: black">What are the Interest Rates and the Tenure?</h4>
    <p>We offer rate of fixed rate of interest ranging between starting from 10.25%-24% p.a. The interest rate vary due to the variation in the amount borrowed, the tenure of personal <br>loan and your credit history. The tenure of a personal loan may typically stretch up to a period of maximum 5 years.</p>
    <h4 style="color: black">Know Your EMI and Available Repayment Options</h4>
    <p>You can repay the personal loan availed from Kotak Mahindra Bank within a fixed period that ranges between 1-5 years. The EMI to be paid is calculated with the Personal <br>Loan EMI calculator. The amount borrowed, interest rate applied and the tenure fixed are taken into consideration for calculating the monthly instalment.</p>
    <h4 style="color: black" >Why Avail a Personal Loan from Kotak Bank?</h4>
    <p>The following benefits highlight why you should avail a personal loan from Kotak Mahindra Bank without any further ado</p>
    
    <div style="margin-left: 2%;">
        <ul>
            <li>The ease of browsing and applying for a personal loan online</li>
            <li>The ease of submitting the required personal loan documents</li>
            <li>Attractive interest rate and flexible repayment options</li>
            <li>Minimal paperwork and fast service</li>
            <li>The ease of availing a loan up to Rs.25 Lakh without any collateral</li>
            <li>A very easily approachable and thorough customer service</li>
            <li>The ease of availing loans instantly in the top commercial cities of India</li>
            <br>
            <p>Make an informed decision when it comes to meeting your immediate financial requirements. If you are looking to have a fulfilling and enjoyable banking experience, reach<br> out to Kotak Mahindra Bank today.</p>
        </ul>  
    </div>
    </div>

    
      
{% endblock %}